     @import '../includes/posts/posts';
     @import '../includes/status/status'; //status koristi $imageWidth varijablu def. u 'posts.scss'
     @import '../includes/search/search'; 
     @import '../includes/click/click'; 


     $backHeight : 75%;
     $imgHeight: 46em;
     $imgWidth: 55em;
     $arrowOffset: 25px;//offsets for the image arrows

    .topContainer{

        height: 210px;
        border: 1px solid #C3C2C2;
    }

    .profilePicture{

        width: 150px;
        float: left;
        top: 20px;
        margin-top: 41px;
        margin-left: 20px;

        img{
            width: 100%;

        }
    }

    .backgroundContainer
    {
        background: #232937;
        color: white;

        height: $backHeight;
        vertical-align: bottom;
    }

    .bigUserName{
        display: inline-block;
        margin-top: 15%;
        margin-left: 10px;
    }

    .controlContainer{
        height: 100% - $backHeight;
    }


    .controlList{

        margin: 0;
        margin-top: 17px;
        height: 100%;

        li{
            display: inline-block;
            height: 100%;

            font-size: 1.3em;
            padding-left: 40px;
        }
    }

    .contentContainer{

        padding: 10px;
        border: 1px solid #C3C2C2;
        margin-top: 10px;
        background: #E6E6E6;
    }


    .userThumb{
        width: 19.5%;
        display: inline-block;

        margin-bottom: 6px;

        img{
            width: 100%;
        }
    }

    #imgCarrousel{

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        background: black;

        width: 100%;
        height: 100%;

        .pictureContainer
        {
            width: 80%;
            height: 600px;
            margin-top: 100px;
            margin-left: 200px;
        }


        .comments
        {
            display: inline-block;
            width: 25em;
            min-height: $imgHeight;

            background: white;          
            padding: 10px;
            margin-left: 10px;

            h4{
                font-weight: 600;
                color: #5A5A5A;
            }
        }

        .userPicture{
            width: $imgWidth;
            height: $imgHeight;
            display: inline-block;
            float: left;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .interactive{
            &:hover{
                cursor: pointer;
                color: white;
            }
        }

  //znak x, za zatvaranje prikaza slike
        .closeCarr{
            position: absolute;
            font-size: 3em;
            color: #A0A0A0;        
        }


        #closeCarrousel{
            top: 0;
            right: $arrowOffset;
        }

        .opinion textarea{//odredujemo sirinu textarea za davanje komentara
            width: 90%;    
        }

        .arrow{
            position: absolute;
            top: 16em;
            z-index: 10;

            color: #A0A0A0; 
            font-size: 1.7em;
        }

        .arrowLeft{
            left: $arrowOffset;
        }

        .arrowRight{

            right: $arrowOffset;
        }
    }
