
    <nav class="navbar navbar-inverse navbar-fixed-top" id="mainNavbar">
        <div class="container nav_container">
            <div class="naslov">
                <a href="{{ strap.urlZa('home') }}">          
                  <h2>House of faces<small><i class="subTitle"> dont be shy, we don't bite</i></small></h2>     
                </a>
            </div>
        </div>
    </nav>   

