

    .sideContainer{

        background: #E6E6E6;
        padding: 5px;
        border-radius: 5px;

        .title{
            color: #0B2152;
        }
    }

    .sideItem{
        margin-bottom: 3px;
    }


    .msgIcon{
        color: #4A96F4;
    }

    .littleNumber
    {
        display: inline-block;
        width: 1.4em;

        font-weight: 600;
        text-align: center;
        font-size: 1.05em;

        border-radius: 49px;
        background: #FFFFFF;
        color: #000;
    }

    .icon{
        width: 25px;
    }